@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-black: var(--black);
  --color-mint: var(--mint);
  --color-yellow: var(--yellow);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --spacing-vpad: var(--page-padding);
  --container-vmax: var(--page-max);
  --font-ubuntu: var(--ubuntu);
  --font-patrick-hand: var(--patrick-hand);
}

:root {
  /* COLORS */
  --black: #000000;
  --mint: #6de1d2;
  --yellow: #ffd63a;
  --orange: #ffa955;
  --red: #f75a5a;

  /* SPACING */
  --page-padding: 2rem;
  --page-max: 1700px;

  /* FONTS */
  --ubuntu: "Ubuntu", sans-serif;
  --patrick-hand: "Patrick Hand", cursive;
}

.dark {
}

@layer base {
  * {
  }
  body {
    @apply bg-yellow text-black;
  }
}
